NEXT_PUBLIC_API_URL=https://kxmaterials-api.onrender.com/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAzAdBLsq7P3d46mxrvG44pB_PwazD5oTw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kxwebseller-502c1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kxwebseller-502c1
NEXT_PUBLIC_FIREBASE_APP_ID=1:914428665576:web:05bf1f3710f38ccc75f35d
